@font-face {
    font-family: "Alsina";
    src: url("./alsina.TTF") format("truetype");
}

.banner {
    width: 100%;
    height: auto;
}


:root {
    --bg-primary: #136512;
    --bg-selected: #25af1f;
    --bg-secondary: #52e44e;
    --fg-primary: #dadeda;
    --fg-secondary: #93999a;
    --fg-dark: #000000;
}


body {
    margin: 0px;
    font-family: Arial, san-serif;
    background: var(--bg-secondary);

}

ul, ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

header {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header > h1{
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-family: alsina;
}

header, nav {
    background: var(--bg-primary);
    color: var(--fg-primary);
}

nav {
    display: flex;
    position: sticky;
    flex-direction: row;
    top: 0;
}

.logged-in-box {
    margin: 15px;
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 210px);
    margin: 2vh 4vw 2vh 4vw;
}

article {
    margin: 1vh 0px 1vh 0px;
    padding: 0px 15px;
    padding-bottom: 15px;
    color: var(--fg-dark);
}

article:first-child {
    margin-top: 0px;
}

article:last-child {
    margin-bottom: 0px;
}

.hero-pic {
    float: left;
    height: 200px;
    width: auto;
    margin-right: 15px;
}

.hero-pic + p {
    margin-bottom: 0px;
}

footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background: var(--bg-primary);
    color: var(--fg-primary);
}

.navbar {
    margin: 15px 0px;
    flex-grow: 1;
}

.navbar-item {
    display: inline;
    text-decoration: none;
    padding: 15px;
    color: var(--fg-primary);
}

.navbar-item:hover {
    background: var(--bg-selected);
    color: var(--fg-dark);
}

.container-border {
    border: 3px solid var(--bg-primary);
    border-radius: 10px;
}

.login-container {
    border: 3px solid var(--bg-primary);
    border-radius: 10px;
    padding: 5px;
    margin: 0px auto 0px auto;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.footer-item {
    margin: 0px auto 0px auto;
}

.link {
    text-decoration: none;
}